<nav>
    <% if (!loggedIn) { %>
        <a href="/login/login">login</a>
        <a href="/login/sign-up">sign-up</a>
    <% } else { %>
        <a href="/">Home</a>
        <% if (isAdmin) { %>
            <a href="/admin">Admin</a>
        <% } else { %>
            <a href="/report/create">report-create</a>
        <% } %>
    <% } %>
</nav>