<nav>
    <a href="/">Home</a>
    <a href="/admin">Admin</a>
    <a href="/login/login">login</a>
    <a href="/login/sign-up">sign-up</a>
    <a href="/report/create">report-create</a>
    <form action="/login/log-out" method="post">
        <button>Logg ut</button>
    </form>
</nav>