<%- include('./partials/head') %>
<h1>Index</h1>
<h2>User: <%= name %></h2>
<% if (isAdmin) { %>
    <a href="/admin">Admin page</a>
    <a href="/admin/key/create">Make key</a>
<% } else { %>
    <a href="/report/create">Report case</a>
<% } %>
<form action="/login/log-out" method="post">
    <button>Log out</button>
</form>
