<%- include('./partials/head') %>

<div class="bigbox">
    <h1>Hjemmeside</h1>
    <h2>Bruker: <%= name %></h2>
    <% if (isAdmin) { %>
        <form action="/admin"><button class="mybutton">Administrator side</button></form>
        <form action="/admin/key/create"><button class="mybutton">Generer registreringsnøkkel</button></form>
    <% } else { %>
        <form action="/report/create"><button class="mybutton">Lag avviksmelding</button></form>
        <a href="/report/create">Report case</a>
    <% } %>
    <form action="/login/log-out" method="post">
        <button class="mybutton">Logg ut</button>
    </form>
</div>

<%- include('./partials/foot') %>