<%- include('./partials/head') %>
<div class="bigbox">
    <h1>Key create</h1>
    <form action="/admin/key/create" method="post">
        <label for="username">Brukernavn</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="isAdmin">Administrator:                                                                                                                                                  </label>
        <input type="checkbox" name="isAdmin" id="isAdmin">
        <br>
        <br>
        <button class="mybutton">Generer</button>
    </form>
</div>
<%- include('./partials/foot') %>