<%- include('./partials/head') %>

<div class="bigbox">
    <h1>Key generated</h1>

    <p>Brukernavn:</p>
    <p><%= user %></p>
    <p>Nøkkel:</p>
    <p><%= key.key %></p>
</div>

<%- include('./partials/foot') %>