<%- include('./partials/head') %>
<h1>Login</h1>
<%- include('./partials/userform', { 
    form: { action: "./login", method: "post", buttonLabel: "Logg inn" },
    formFields: [
    {name: "username", display: "Brukernavn", type: "text"}, 
    {name: "password", display: "Passord", type: "password"}] 
}) %>