<%- include('./partials/head') %>
<h1>Report create</h1>

<form action="./create" method="post">
    <label for="title">Tittel</label>
    <input type="text" name="title" id="title">

    <label for="content">Innhold</label>
    <textarea name="content" id="content"></textarea>

    <button>Publiser</button>
</form>