<%- include('./partials/head') %>
<div class="bigbox">
    <h1>Report create</h1>

    <form action="./create" method="post">
        <label for="title">Tittel:</label>
        <br>
        <input type="text" name="title" id="title" maxlength="30">

        <br>
        <br>

        <label for="content">Innhold:</label>
        <br>
        <textarea name="content" id="content"></textarea>

        <br>
        <br>

        <label for="filter">Filter:</label>
        <br>
        <%- include('./partials/tags', { tags, pretags: [], tagcount: NaN }) %>

        <br>
        <br>

        <button class="mybutton">Publiser</button>
    </form>
</div>
<%- include('./partials/foot') %>